.btn{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease-in-out;
}

.btn:hover {
    background-color: green;
    transform: scale(1.1); /* Slightly enlarge the button on hover */
}

.box{
    background-color: grey;
    border-radius: 6px;
    width: 100px;
    height: 100px;
    display: flex;
    cursor: pointer;
    line-height: 100px;
    text-align: center;
    transition-property: background-color, transform;
    transition-duration: 1s;
    transition: step-start;
    transition-timing-function: linear;
}
.box:hover{
    background: blue;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

.image-container{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 2s ease, box-shadow 1s;
}
.image-container img:hover{
    transform: scale(1.2); /* Zoom in the image on hover */
    box-shadow: 0 15px 30px rgba(0,0,0,0.5);
}

.ball2{
    width: 80px;
    height: 80px;
    background: red;
    border-radius: 50%;
    display: relative;
    animation: bounce 2s infinite ease-in-out;
}
@keyframes bounce {
    0%, 100% {
        top: 0;
    }
    50% {
        top: 200px;
    }
}
.stage{
    min-width: 300px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px auto;
    position: relative;

}
.stage:hover .ball2{
    animation: slide 2s infinite ease-in-out alternate; /* Pause the bounce animation on hover */
}
.ball2{
    background: rgb(40, 40, 182);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute; 
}
@keyframes slide {
    0% {
        left: 0;
        top: 0px; /* Center the ball vertically */
    }
    50% {
        left: 250px; /* Move to the center of the stage */
        top: 100px; /* Keep the ball vertically centered */
    }
    100% {
        left: 490px; /* Move to the right edge of the stage */
        top: 0px; /* Keep the ball vertically centered */
    }
}
.heart{
    width: 100px;
    height: 90px;
    background-color: red;
    position: relative;
    transform: rotate(45deg);
    animation: heartbeat 1s infinite;
}
.heart::before,
.heart::after{
    content: "";
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;     
    position: absolute;
}

.heart::before{
    left: -50px;
}

.heart::after{
    top: -50px;
}

@keyframes heartbeat {
    0%, 100% {
        transform: scale(1) rotate(45deg);
    }
    50% {
        transform: scale(1.3) rotate(45deg);
    }
}

.box-two{
    width: 100px;
    height: 100px;
    background: purple;
    border-radius: 10px;
    position: relative;
}

.animate{
    animation : moveright 3s infinite alternate ease-in-out;
}
@keyframes moveright {
    from {
        left: 0;
    }
    to {
        left: 800px;
    }
}